@font-face {
  font-family: 'Museo';
  src: url('./fonts/MuseoSans700.eot');
  src: url('./fonts/MuseoSans700.eot?#iefix') format('embedded-opentype'),
       url('./fonts/MuseoSans700.woff') format('woff'),
       url('./fonts/MuseoSans700.ttf') format('truetype'),
       url('./fonts/MuseoSans700.svg#MuseoSans700') format('svg');
  font-weight: normal;
  font-style: normal;
}


